<div id="headercontainer" class="container-fluid">
<div class="row mt-5">
  <div class="col-4">
    <a id="home" href="/">LOGO</a>
  </div>
  <div class="col-8">
    <div class="row justify-content-end">
      <div class="col-auto">
        <a href="/docs/airquality">¿Qué medimos?</a>
      </div>
      <div class="col-auto">
        <a href="/docs/how">¿Cómo?</a>
      </div>
      <div class="col-auto">
        <a href="/get-involved">Conviertete en un nodo</a>
      </div>
      <div class="col-auto">
        <a href="/downloads">Descargas</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <hr class="main mt-3 mb-5"></hr>
  </div>
</div>
<div id="backrow" class="row justify-content-end">
  <div class="col-1">
    <i id="back" class="d-none back im im-angle-left"></i>
  </div>
</div>
</div>
