<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>taliesin</title>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.2.0/css/iconmonstr-iconic-font.min.css">
  <!--[if lt IE 9]>
  <link rel="stylesheet" href="PATH/TO/iconic-glyphs-legacy.css">
<![endif]-->
  <style>
    #map #districts path {
      stroke: white;
      stroke-width: 2px;
    }
    /*
#neighbourhoods path {
  stroke:white;
  stroke-width: 1px;
}
*/

    #map #neighbourhoods path:hover {
      fill-opacity: .7;
      cursor: pointer;
      cursor: hand;
    }

    #back {
      cursor: pointer;
      cursor: hand;
    }

    body {
      font-family: 'Lato', sans-serif;
    }

    #neighbourhoodmapcontainer,
    #detailscontainer {
      position: relative;
    }

    #detailscontent,
    #neighbourhoodmap {
      position: absolute;
      left: -9999px;
    }

    #neighbourhoodmap {
      height: 650px;
      width: 800px;
    }

    #map .legend {
      font-size: 12px;
    }

    #map div.tooltip {
      position: absolute;
      text-align: center;
      width: 200px;
      height: 250px;
      padding: 2px;
      font: 12px sans-serif;
      background: white;
      border: 0px;
      border-radius: 8px;
      pointer-events: none;
    }

    #map hr.main {

      border: 0;
      height: 2px;
      background: #63C;
      background-image: -webkit-linear-gradient(left, #C9F, #63C, #C9F);
      background-image: -moz-linear-gradient(left, #C9F, #63C, #C9F);
      background-image: -ms-linear-gradient(left, #C9F, #63C, #C9F);
      background-image: -o-linear-gradient(left, #C9F, #63C, #C9F);
    }


    #graph path {
      /*stroke: steelblue;*/
      stroke-width: 2;
      fill: none;
    }

    #graph .axis path,
    #graph .axis line {
      fill: none;
      stroke: grey;
      stroke-width: 1;
      shape-rendering: crispEdges;
    }

    #chart .radarArea,
    #chart .radarStroke,
    #graph .line {
      cursor: pointer;
      cursor: hand;
    }
  </style>
</head>

<body>
  <script>
    window.__APPCFG__ = {{{ clientConfig }}};
    window.__INITIAL_STATE__ = {{{ initialState }}};
  </script>
  <div id="root">
    {{> header }}
    <div id="maincontainer" class="container-fluid">
      {{{content}}}
    </div>
    {{> details }} {{> neighbourhood }}
  </div>
  {{!--<div>Icons made by <a href="https://www.flaticon.com/authors/yannick" title="Yannick">Yannick</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0"
      target="_blank">CC 3.0 BY</a></div>--}}
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>

</html>
