<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>taliesin</title>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7/leaflet.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.iconmonstr.com/1.2.0/css/iconmonstr-iconic-font.min.css">
<!--[if lt IE 9]>
  <link rel="stylesheet" href="PATH/TO/iconic-glyphs-legacy.css">
<![endif]-->

<script src="//d3js.org/d3.v3.js" charset="utf-8"></script>
<script src="https://d3js.org/d3-array.v1.js"></script>
<script src="https://d3js.org/d3-geo.v1.js"></script>
<script src="https://unpkg.com/topojson@3"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.7/leaflet.js"></script>

<style>

#districts path {
  stroke:white;
  stroke-width: 2px;
}
/*
#neighbourhoods path {
  stroke:white;
  stroke-width: 1px;
}
*/
#neighbourhoods path:hover {
	fill-opacity: .7;
  cursor: pointer;
  cursor: hand;
}

#back {
  cursor: pointer;
  cursor: hand;
}

body {
  font-family: 'Lato', sans-serif;
}

#neighbourhoodmap {
  height: 650px;
}

.legend {
  font-size: 12px;
}

div.tooltip {
 	position: absolute;
	text-align: center;
	width: 200px;
	height: 250px;
	padding: 2px;
	font: 12px sans-serif;
	background: white;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

hr.main {

  border: 0;
  height: 2px;
  background: #63C;
  background-image: -webkit-linear-gradient(left, #C9F, #63C, #C9F);
  background-image: -moz-linear-gradient(left, #C9F, #63C, #C9F);
  background-image: -ms-linear-gradient(left, #C9F, #63C, #C9F);
  background-image: -o-linear-gradient(left, #C9F, #63C, #C9F);
}
</style>
</head>

<body>
  <div id ="mapcontainer"  class="container-fluid">
    <div class="row mt-5">
      <div class="col-4">
        LOGO
      </div>
      <div class="col-8">
        <div class="row justify-content-end">
          <div class="col-auto">
            ¿Qué medimos?
          </div>
          <div class="col-auto">
            ¿Cómo?
          </div>
          <div class="col-auto">
            Conviertete en un nodo
          </div>
          <div class="col-auto">
            Descargas
          </div>
        </div>
      </div>
    </div>
    <hr class="main mt-3 mb-5"></hr>
    <div class="row justify-content-center">
      <div class="col">
        <div id="map"></div>
      </div>
    </div>
  </div>
  <div id="neighbourhoodmapcontainer" class="container-fluid">
    <div class="row mt-5">
      <div class="col-4">
        LOGO
      </div>
      <div class="col-8">
        <div class="row justify-content-end">
          <div class="col-auto">
            ¿Qué medimos?
          </div>
          <div class="col-auto">
            ¿Cómo?
          </div>
          <div class="col-auto">
            Conviertete en un nodo
          </div>
          <div class="col-auto">
            Descargas
          </div>
        </div>
      </div>
    </div>
    <hr class="main mt-3 mb-5"></hr>
    <div class="row justify-content-end">
      <div class="col-1">
        <i id="back" class="im im-angle-left"></i>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6">
        <div id="neighbourhoodmap"></div>
      </div>
    </div>
  </div>
  <!--<canvas width="800" height="800"></canvas>-->
  <!--<script async src="static/index.bundle.js"></script>-->

  <script>

//longitude and latitude coords

  var data = {
       "type": "FeatureCollection",
       "features": [{
           "type": "Feature",
           "geometry": {
               "type": "Point",
               "coordinates": [-3.646207, 40.427889]
           },
           "properties": {
               "id": "1",
               "years": 3,
               "codbar": "151"
           }
       },
       {
         "type": "Feature",
         "geometry": {
             "type": "Point",
             "coordinates": [-3.758443, 40.371427]
         },
         "properties": {
             "id": "2",
             "years": 2,
             "codbar": "116"
         }
       },
       {
           "type": "Feature",
           "geometry": {
               "type": "Point",
               "coordinates": [-3.716937, 40.437753]
           },
           "properties": {
               "id": "3",
               "years": 5,
               "codbar": "071"
           }
       },

       {
           "type": "Feature",
           "geometry": {
               "type": "Point",
               "coordinates": [-3.810704, 40.474623]
           },
           "properties": {
               "id": "4",
               "years": 5,
               "codbar": "081"
           }
       },
       {
           "type": "Feature",
           "geometry": {
               "type": "Point",
               "coordinates": [-3.615163, 40.590375]
           },
           "properties": {
               "id": "5",
               "years": 5,
               "codbar": "081"
           }
       },
       {
           "type": "Feature",
           "geometry": {
               "type": "Point",
               "coordinates": [-3.779378, 40.483555]
           },
           "properties": {
               "id": "6",
               "years": 5,
               "codbar": "081"
           }
       },
       {
           "type": "Feature",
           "geometry": {
               "type": "Point",
               "coordinates": [-3.885015, 40.568993]
           },
           "properties": {
               "id": "7",
               "years": 5,
               "codbar": "081"
           }
       },
       {
           "type": "Feature",
           "geometry": {
               "type": "Point",
               "coordinates": [-3.851192, 40.514139]
           },
           "properties": {
               "id": "8",
               "years": 5,
               "codbar": "081"
           }
       },
       {
           "type": "Feature",
           "geometry": {
               "type": "Point",
               "coordinates": [-3.782488, 40.542402]
           },
           "properties": {
               "id": "9",
               "years": 5,
               "codbar": "081"
           }
       },
       {
           "type": "Feature",
           "geometry": {
               "type": "Point",
               "coordinates": [-3.710697, 40.407500]
           },
           "properties": {
               "id": "10",
               "years": 5,
               "codbar": "012"
           }
       },
       {
           "type": "Feature",
           "geometry": {
               "type": "Point",
               "coordinates": [-3.693123, 40.409232]
           },
           "properties": {
               "id": "11",
               "years": 5,
               "codbar": "012"
           }
       },
       {
           "type": "Feature",
           "geometry": {
               "type": "Point",
               "coordinates": [-3.705547, 40.413774]
           },
           "properties": {
               "id": "12",
               "years": 5,
               "codbar": "012"
           }
       },
       {
           "type": "Feature",
           "geometry": {
               "type": "Point",
               "coordinates": [-3.702114, 40.405408]
           },
           "properties": {
               "id": "13",
               "years": 5,
               "codbar": "012"
           }
       }
       ]
   };

var mymap = initMap();
var markersLayer = new L.LayerGroup();
var mapLayers    = new L.LayerGroup();
var width = window.screen.width;
var height = 720;
var domainScale = [50,150,350,750,1450,2850,5650,11250,22450,44850,89650,179250];
var legendDomainScale = [0,50,150,350,750,1450,2850,5650,11250,22450,44850,89650,179250];
var legendLabels = ["< 50", "50+", "150+", "350+", "750+", "1450+", "2850+", "5650+", "11250+", "22450+", "44850+", "89650+","> 179250 "];
var colors = d3.scale.threshold()
.domain(domainScale)
.range([
  '#78c679',
  '#a3d78f',
  '#c5e29d',
  '#dfe8a2',
  '#f2e89d',
  '#fce38e',
  '#fed976',
  '#feb15e',
  '#f38b4a',
  '#df663c',
  '#c54431',
  '#a5232b',
  '#800026']);

var colorsB = d3.scale.threshold()
.domain(domainScale)
.range([
  '#78c679',
  '#a3d78f',
  '#c5e29d',
  '#dfe8a2',
  '#f2e89d',
  '#fce38e',
  '#fed976',
  '#ffb25d',
  '#ff8f49',
  '#fa6f38',
  '#f3512b',
  '#eb3522',
  '#e31a1c']);

// Append Div for tooltip to SVG
var div = d3.select("body")
  .append("div")
  .attr("class", "tooltip")
  .style("opacity", 0);

var svg = d3.select("#map")
  .append("svg")
  .attr("preserveAspectRatio", "xMidYMid")
  .attr("viewBox", "0 0 " + width + " " + height)
  .attr("width", width)
  .attr("height", height)
  .style("fill","white");

svg.append("rect")
  .attr("class", "background")
  .attr("width", width)
  .attr("height", height);

var districtsg = svg.append("g").attr("id", "districts");
var neighbourhoodsg = svg.append("g").attr("id", "neighbourhoods");
var stationsg = svg.append("g").attr("id", "stations");

d3.json("static/madrid.json", function(error, madrid) {
 //console.dir(madrid);
 if(error) {
   throw error;
 }


 var projection = d3.geoMercator().fitSize([width, height], madrid.objects.districts);
 var path = d3.geoPath().projection(projection);
 districtsg.selectAll("path")
 .data(madrid.objects.districts.features)
 .enter()
 .append("path")
 .attr("d", path)
 .attr("id", districtId)
 .attr("class", "district")
 .attr("class", "active");

 projection = d3.geoMercator().fitSize([width, height], madrid.objects.neighbourhoods);
 path = d3.geoPath().projection(projection);
 neighbourhoodsg.selectAll("path")
 .data(madrid.objects.neighbourhoods.features)
 .enter()
 .append("path")
 .attr("d", path)
 .attr("id", neighborhoodId)
 .attr("class", "neighborhood")
 .attr("class", "active")
 .attr("d", path)
 .style("fill", function(d) {
   var num = getPollutionData(d.properties.codbar);
   var color = colors(num);
   //console.log('barrio:' + d.properties.codbar + ' num:' + num + ' color:' + color);
   return color;
 })
 .attr("opacity","0.7")
  .on('click', function(d) {
  console.dir(d);
  d.centroid = d3.geoCentroid(d);
  console.dir(d.centroid);
  uncheckAll(d,data);
  });

 stationsg.selectAll("circle")
   .data(data.features)
   .enter()
   .append("circle")
   .attr("cx", function(d) {
     console.dir(d);
     return projection(d.geometry.coordinates)[0];
   })
   .attr("cy", function(d) {
     return projection(d.geometry.coordinates)[1];
   })
   .attr("r", function(d) {
     return Math.sqrt(d.properties.years) * 4;
   })
   .style("fill", "rgb(44,127,184)")
   .style("opacity", 0.85);

});

var legend = svg.selectAll("g.legend")
  .data(legendDomainScale)
  .enter().append("g")
  .attr("class", "legend");

  var ls_w = 20, ls_h = 20;

  legend.append("rect")
  .attr("x", 20)
  .attr("y", function(d, i){ return height - (i*ls_h) - 2*ls_h;})
  .attr("width", ls_w)
  .attr("height", ls_h)
  .style("fill", function(d, i) { return colors(d); })
  .style("opacity", 0.8);

  legend.append("text")
  .attr("x", 50)
  .attr("y", function(d, i){ return height - (i*ls_h) - ls_h - 4;})
  .text(function(d, i){ return legendLabels[i]; })
  .style("fill","black");

 function neighborhoodId(d) {
   //console.dir(d);
   return d.properties.codbar;
 }
 function districtId(d) {
   return d.properties.name;
 }
 function getPollutionData(corbar) {
    var min = 0;
    var max = domainScale[domainScale.length - 1];
    var random = Math.floor(Math.random() * (max - min + 1)) + min;
    //console.log('random:' + random);
    return random;
 }

 function checkAll(evt){
    //d3.selectAll("g").attr("visibility", "visible");
    document.getElementById('neighbourhoodmapcontainer').classList.remove("d-block");
    document.getElementById('neighbourhoodmapcontainer').classList.add("d-none");
    document.getElementById('mapcontainer').classList.remove("d-none");
    document.getElementById('mapcontainer').classList.add("d-block");
 }

 var backArrow = document.getElementById('back');
 backArrow.addEventListener('click', checkAll);


 function uncheckAll(d,data){
    //d3.selectAll("g").attr("visibility", "hidden");
    document.getElementById('mapcontainer').classList.remove("d-block");
    document.getElementById('mapcontainer').classList.add("d-none");
    document.getElementById('neighbourhoodmapcontainer').classList.remove("d-none");
    document.getElementById('neighbourhoodmapcontainer').classList.add("d-block");
    showMap(d,data);
 }

 function showMap(d,data) {
    try {
      var neighbourhoodPoints = data.features.filter(function (f) { return f.properties.codbar === d.properties.codbar;});
      //document.getElementById('neighbourhoodmap').style.width = '850px';
      document.getElementById('neighbourhoodmap').style.height = '650px';

      mapLayers.clearLayers();
      markersLayer.clearLayers();
      var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
      var osmAttrib='Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors';

      //bounds to fit all markers
      neighbourhoodPoints.forEach(function(i) {
       var title = i.properties.id;
       markersLayer.addLayer(L.marker(new L.LatLng(i.geometry.coordinates[1], i.geometry.coordinates[0]), { title: title }));
      });
      var geoJsonLayer = L.geoJson(d);
      //mymap.setView(new L.LatLng(d.centroid[1], d.centroid[0]),14);
      mapLayers.addLayer(new L.TileLayer(osmUrl, {maxZoom:15, attribution: osmAttrib}))
      mymap.addLayer(mapLayers);
      if(neighbourhoodPoints.length > 0) {
       //var markersGroup = new L.FeatureGroup(markersLayer.getLayers());
       mymap.addLayer(markersLayer);
      }
      mymap.panTo(new L.LatLng(d.centroid[1], d.centroid[0]));
      mymap.fitBounds(geoJsonLayer.getBounds(),{maxZoom:15});
      mymap.invalidateSize();
  }
  catch(err) {

    console.console.error(err);
  }
  }

 function initMap() {
     // start the map in South-East England
    var mymap = new L.map('neighbourhoodmap');
    document.getElementById('neighbourhoodmapcontainer').classList.add("d-none");
    return mymap;
 }

</script>
  <!--<div id="root"></div>-->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>
